body {
    font-family: "Almarai", sans-serif;
    font-weight: 200;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0px;
    min-width: 370px;
}

#vid-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.563);
}

#vid-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#logo {
    width: 90%;
    max-width: 1400px;
}

#logo-cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#dl-btn-cont {
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ic-caret {
    margin-left: 20px;
    max-width: 40px;
    height: auto;
}

#dl-btn {
    width: 80%;
    max-width: 410px;
    text-align: center;
    font-size: 4rem;
    padding: 20px 0px;
    background-color: rgb(13 13 13 / 23%);
    color: #d47171;
    box-shadow: 0 1px 12px rgba(128, 69, 218, 0.71);
    border: 1px solid white;
    border-radius: 2px;
    text-decoration: none;
    transition: background-color .1s ease-in-out, transform .2s ease-in-out, border-color .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dl-btn:hover {
    cursor: pointer;
    background-color: rgba(13, 13, 13, 0.379);
    box-shadow: 0 0px 18px rgba(129, 69, 218, 0.789);
    transform: scale(1.1);
}

#dl-btn:active {
    transform: translate(0px, 3px);
    transform: scale(1);
    box-shadow: 0;
}

footer {
    position: relative;
    z-index: 10;
    background-color: black;
    border-top: 1px solid rgba(100, 100, 100, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: rgb(106, 106, 106);
}

.f-row {
    margin-top: 2px;
}

@media (600px <=width <=1000px) {

    #vid-overlay {
        padding-top: 20%;

    }

    #dl-btn-cont {
        margin-top: 50px;
    }

    #dl-btn {
        font-size: 2.1rem;
        width: 20%;
        min-width: 220px;
        height: 30px;
    }

    #ic-caret {
        max-width: 20px;
    }
}

@media (width <=600px) {

    #vid-overlay {
        padding-top: 55%;

    }

    #dl-btn-cont {
        margin-top: 30px;
    }

    #dl-btn {
        font-size: 1.4rem;
        width: 120px;
        padding: 15px;
        height: 20px;
    }

    #ic-caret {
        max-width: 15px;
        margin-left: 10px;
    }
}